/* Resets */
.charsheet details,
.charsheet summary {
  display: revert;
}

.charsheet input,
.charsheet textarea,
.charsheet select,
.charsheet .uneditable-input {
  width: auto;
  margin-bottom: 0;
}

.charsheet main#megaverse input[type="number"] {
  width: auto;
}
/* End Resets */

/* Tabs */
/*Configure the tab buttons*/
.core,
.wp {
  display: none;
}

/* show the selected tab */
.tabstoggle[value="core"] ~ div.core,
.tabstoggle[value="wp"] ~ div.wp {
  display: block;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
}

.section-one {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 1fr;
}

.ss-2a {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 5rem 5rem;
}

.ss-2b {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: max-content 5rem max-content;
  gap: 0.5rem;
}

.ss-2c {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem max-content;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.section-three {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(7, max-content);
}

.movement-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem 8rem 8rem 8rem max-content;
}

.charsheet .wp-container .repcontainer .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
}

.charsheet .wp-container .repcontainer .repitem:not(:first-of-type) h5 {
  display: none;
}
