/* Resets */
.charsheet details,
.charsheet summary {
  display: revert;
}

.charsheet input,
.charsheet textarea,
.charsheet select,
.charsheet .uneditable-input {
  width: auto;
  margin-bottom: 0;
}

.charsheet main#megaverse input[type="number"] {
  width: auto;
}

.charsheet main#megaverse label {
  margin-bottom: 0;
  font-size: 1.3rem;
}

details {
  margin-bottom: 1rem;
}

details summary {
  cursor: pointer;
}

/* End Resets */

/* Tabs */
/* Configure the tab buttons */
.core,
.wp,
.equipment,
.skills,
.combat {
  display: none;
}

/* show the selected tab */
.tabstoggle[value="core"] ~ div.core,
.tabstoggle[value="wp"] ~ div.wp,
.tabstoggle[value="equipment"] ~ div.equipment,
.tabstoggle[value="skills"] ~ div.skills,
.tabstoggle[value="magic"] ~ div.magic,
.tabstoggle[value="psionics"] ~ div.psionics,
.tabstoggle[value="combat"] ~ div.combat {
  display: block;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 1fr 1fr;
}

/* .section-one {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 1fr;
} */

.section-one label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0.5rem 0;
}

.section-one label span {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ss-2a {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 5rem 5rem;
}

.ss-2b {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: max-content 5rem max-content;
  gap: 0.5rem;
}

.ss-2c {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem max-content;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.section-three {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(7, max-content);
}

.movement-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem 8rem 8rem 8rem max-content;
}

.charsheet .wp-container .repcontainer[data-groupname="repeating_wp"] .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 4rem 5rem 4rem 5rem 4rem 5rem 4rem 5rem 4rem 5rem 5rem;
}

.charsheet
  .wp-container
  .repcontainer[data-groupname="repeating_wpmodern"]
  .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 4rem 5rem 4rem 5rem;
}

.charsheet .wp-container .repcontainer .repitem:not(:first-of-type) h5 {
  display: none;
}

.charsheet .wp-container h3:last-of-type {
  margin-top: 2rem;
}

/* .charsheet .combat-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
} */

.charsheet
  .combat-container
  .repcontainer[data-groupname="repeating_combatselections"] {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.charsheet
  .combat-container
  .repcontainer[data-groupname="repeating_combat"]
  .repitem
  label,
.combat-combined-bonuses label {
  display: grid;
  grid-template-columns: 1fr min-content 4rem;
  width: 100%;
}

.charsheet
  .combat-container
  .repcontainer[data-groupname="repeating_combat"]
  .repitem
  label
  span,
.combat-combined-bonuses label span {
  display: flex;
  align-items: center;
}

.charsheet main#megaverse .combat-container input[type="number"] {
  width: 5rem;
}

.charsheet .combat-container .combat-combined-bonuses,
.charsheet
  .combat-container
  .repcontainer[data-groupname="repeating_combat"]
  .repitem
  .bonus-type-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.charsheet
  .combat-container
  .repcontainer[data-groupname="repeating_combat"]
  .repitem:not(:last-of-type) {
  margin-bottom: 3rem;
}

/*****************/
/* Metal Buttons */
/*****************/

.dialog.characterviewer {
  background-color: hsla(0, 0%, 90%, 1);
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.05)
  );
  background-size: 5px;
}

/* globals */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);

html {
  font: 62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana,
    Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 90%, 1);
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.05)
  );
  background-size: 5px;
}

button {
  border: none;
  /* display: block; */
}
a {
  text-decoration: none;
  display: block;
}

/* Metal ------------------------- */

.metal {
  position: relative;
  outline: none;

  font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;

  background-color: hsl(0, 0%, 90%);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 1px,
    /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 1px,
    /* soft SD */ inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 2px,
    /* bottom SD */ inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 1px,
    /* top HL */ hsla(0, 0%, 0%, 0.15) 0 -5px 6px -2px,
    /* outer SD */ hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px; /* outer HL */

  transition: color 0.2s;
}

/* Radial ------------------------- */

.radial.metal {
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(
      50% 0%,
      8% 50%,
      hsla(0, 0%, 100%, 0.5) 0%,
      hsla(0, 0%, 100%, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 12% 50%, hsla(0, 0%, 100%, 0.6) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, hsla(0, 0%, 100%, 0.5) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, hsla(0, 0%, 100%, 0.5) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          100%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          3%, hsla(0, 0%, 0%, 0.1) 3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0)
          0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0)
          0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, 0.2) 2.2%),
    -webkit-radial-gradient(50% 50%, 200% 50%, hsla(0, 0%, 90%, 1) 5%, hsla(
            0,
            0%,
            85%,
            1
          )
          30%, hsla(0, 0%, 60%, 1) 100%);
}

.metal.radial:before,
.metal.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  /* fake conical gradients */
  background-image: -webkit-radial-gradient(
      50% 0%,
      10% 50%,
      hsla(0, 0%, 0%, 0.1) 0%,
      hsla(0, 0%, 0%, 0) 100%
    ),
    -webkit-radial-gradient(50% 100%, 10% 50%, hsla(0, 0%, 0%, 0.1) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          100%),
    -webkit-radial-gradient(0% 50%, 50% 10%, hsla(0, 0%, 0%, 0.1) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          100%),
    -webkit-radial-gradient(100% 50%, 50% 06%, hsla(0, 0%, 0%, 0.1) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          100%);
}
.metal.radial:before {
  transform: rotate(65deg);
}
.metal.radial:after {
  transform: rotate(-65deg);
}

/* Linear ------------------------- */

.metal.linear {
  width: 80px;
  font-size: 1.1em;
  height: 40px;
  border-radius: 0.5em;
  background-image: -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 6%,
      hsla(0, 0%, 100%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          4%, hsla(0, 0%, 0%, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );
}

/* Oval ------------------------- */

.metal.linear.oval {
  margin-top: 100px;
  width: 70px;
  height: 60px;
  line-height: 60px !important;
  border-radius: 50%;
  font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}

/* active ------------------------- */

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210, 100%, 20%, 0.3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px,
    hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, 0.6) 0 0 20px;
  box-shadow: inset hsla(210, 100%, 30%, 1) 0 0px 0px 4px,
    /* border */ inset hsla(210, 100%, 15%, 0.4) 0 -1px 5px 4px,
    /* soft SD */ inset hsla(210, 100%, 20%, 0.25) 0 -1px 0px 7px,
    /* bottom SD */ inset hsla(210, 100%, 100%, 0.7) 0 2px 1px 7px,
    /* top HL */ hsla(210, 100%, 75%, 0.8) 0 0px 3px 2px,
    /* outer SD */ hsla(210, 50%, 40%, 0.25) 0 -5px 6px 4px,
    /* outer SD */ hsla(210, 80%, 95%, 1) 0 5px 6px 4px; /* outer HL */
}
