<h4>Saving Throws</h4>
<div class="combat-combined-bonuses">
  <label
    ><span>Perception</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_perceptioncheck"
    />
    <button
      type="roll"
      value="Perception Check: [[d20+@{combat_combined_perceptioncheck}]]"
    />
  </label>
  <label
    ><span>Psionics</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_psionics"
    />
    <button
      type="roll"
      value="Save vs. Psionics: [[d20+@{combat_combined_psionics}]]"
    />
  </label>
  <label
    ><span>Magic</span>
    <input readonly type="number" value="0" name="attr_combat_combined_magic" />
    <button
      type="roll"
      value="Save vs. Magic: [[d20+@{combat_combined_magic}]]"
    />
  </label>
  <label
    ><span>Horror Factor</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_horrorfactor"
    />
    <button
      type="roll"
      value="Save vs. Horror Factor: [[d20+@{combat_combined_horrorfactor}]]"
    />
  </label>
  <label
    ><span>Mind Control</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_mindcontrol"
    />
    <button
      type="roll"
      value="Save vs. Mind Control: [[d20+@{combat_combined_mindcontrol}]]"
    />
  </label>
  <label
    ><span>Disease</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_disease"
    />
    <button
      type="roll"
      value="Save vs. Disease: [[{d20+@{combat_combined_disease}}>13]]"
    />
  </label>
  <label
    ><span>Illusions</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_illusions"
    />
    <button
      type="roll"
      value="Save vs. Illusions: [[d20+@{combat_combined_illusions}]]"
    />
  </label>
  <label
    ><span>Possession</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_possession"
    />
    <button
      type="roll"
      value="Save vs. Possession: [[d20+@{combat_combined_possession}]]"
    />
  </label>
  <label
    ><span>Insanity</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_insanity"
    />
    <button
      type="roll"
      value="Save vs. Insanity: [[d20+@{combat_combined_insanity}]]"
    />
  </label>
  <label
    ><span>Pain</span>
    <input readonly type="number" value="0" name="attr_combat_combined_pain" />
    <button
      type="roll"
      value="Save vs. Pain: [[d20+@{combat_combined_pain}]]"
    />
  </label>
  <label
    ><span>Lethal Poison</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_lethalpoison"
    />
    <button
      type="roll"
      value="Save vs. Lethal Poison: [[{d20+@{combat_combined_lethalpoison}}>13]]"
    />
  </label>
  <label
    ><span>Non-Lethal Poison</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_nonlethalpoison"
    />
    <button
      type="roll"
      value="Save vs. Non-Lethal Poison: [[{d20+@{combat_combined_nonlethalpoison}}>15]]"
    />
  </label>
  <label
    ><span>Drugs</span>
    <input readonly type="number" value="0" name="attr_combat_combined_drugs" />
    <button
      type="roll"
      value="Save vs. Drugs: [[{d20+@{combat_combined_drugs}}>14]]"
    />
  </label>
  <label
    ><span>Curses</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_curses"
    />
    <button
      type="roll"
      value="Save vs. Curses: [[{d20+@{combat_combined_curses}}>14]]"
    />
  </label>
  <label
    ><span>Coma/Death</span>
    <input
      readonly
      type="number"
      value="0"
      name="attr_combat_combined_comadeath"
    />
    <button
      type="roll"
      value="Save vs. Coma/Death: [[d100-@{combat_combined_comadeath}]]"
    />
  </label>
</div>
