<details>
  <summary>
    <b>Expand <span name="attr_name"></span></b>
  </summary>
  <div class="bonus-type-container">
    <label
      ><span>Attacks</span>
      <input type="number" value="" name="attr_attacks" />
    </label>
    <label
      ><span>S.D.C.</span><input type="number" value="0" name="attr_sdc"
    /></label>
    <label
      ><span>M.D.C.</span><input type="number" value="0" name="attr_mdc"
    /></label>
    <label
      ><span>Initiative</span>
      <input type="number" value="" name="attr_initiative" />
      <button type="roll" value="Initiative: [[d20+@{initiative}]]" />
    </label>
    <label
      ><span>Strike</span>
      <input type="number" value="" name="attr_strike" />
      <button type="roll" value="Strike: [[d20+@{strike}]]" />
    </label>
    <label
      ><span>Parry</span>
      <input type="number" value="" name="attr_parry" />
      <button type="roll" value="Parry: [[d20+@{parry}]]" />
    </label>
    <label
      ><span>Dodge</span>
      <input type="number" value="" name="attr_dodge" />
      <button type="roll" value="Dodge: [[d20+@{dodge}]]" />
    </label>
    <label
      ><span>Throw</span>
      <input type="number" value="" name="attr_throw" />
      <button type="roll" value="Throw: [[d20+@{throw}]]" />
    </label>
    <label
      ><span>Disarm</span>
      <input type="number" value="" name="attr_disarm" />
      <button type="roll" value="Disarm: [[d20+@{disarm}]]" />
    </label>
    <label
      ><span>Entangle</span>
      <input type="number" value="" name="attr_entangle" />
      <button type="roll" value="Entangle: [[d20+@{entangle}]]" />
    </label>
    <label
      ><span>Pull Punch</span>
      <input type="number" value="" name="attr_pull" />
      <button type="roll" value="Pull Punch: [[d20+@{pull}]]" />
    </label>
    <label
      ><span>Roll w/ Impact</span>
      <input type="number" value="" name="attr_roll" />
      <button type="roll" value="Roll w/ Impact: [[d20+@{roll}]]" />
    </label>
    <label
      ><span>Damage</span>
      <input type="text" value="0" name="attr_damage" />
      <button
        type="roll"
        value="?{Add damage modifier?|
          None,Damage: [[@{damage}]]|
          Punch,Damage: [[@{damage}+@{punch}]]|
          P.S. Bonus,Damage: [[@{damage}+@{ps_bonus}]]
        }"
      />
    </label>
    <label
      ><span>Dodge: Flight</span>
      <input type="number" value="" name="attr_dodge_flight" />
      <button type="roll" value="Dodge in Flight: [[d20+@{dodge_flight}]]" />
    </label>
    <label
      >Dodge: Auto
      <input type="number" value="" name="attr_dodge_auto" />
      <button type="roll" value="Auto Dodge: [[d20+@{dodge_auto}]]" />
    </label>
    <label
      ><span>Dodge: Teleport</span>
      <input type="number" value="" name="attr_dodge_teleport" />
      <button type="roll" value="Teleport Dodge: [[d20+@{dodge_teleport}]]" />
    </label>
    <label
      ><span>Dodge: Motion</span>
      <input type="number" value="" name="attr_dodge_motion" />
      <button type="roll" value="Dodge in Motion: [[d20+@{dodge_motion}]]" />
    </label>
    <label
      ><span>Strike: Range</span>
      <input type="number" value="" name="attr_strike_range" />
      <button type="roll" value="Range Strike: [[d20+@{strike_range}]]" />
    </label>
    <label
      ><span>Range: Single</span>
      <input type="number" value="" name="attr_strike_range_single" />
      <button
        type="roll"
        value="Range Strike: [[d20+@{strike_range_single}]]"
      />
    </label>
    <label
      ><span>Range: Burst</span>
      <input type="number" value="" name="attr_strike_range_burst" />
      <button type="roll" value="Range Strike: [[d20+@{strike_range_burst}]]" />
    </label>
    <label
      ><span>Critical</span> <input type="number" value="" name="attr_critical"
    /></label>
    <label
      ><span>Knockout</span> <input type="number" value="" name="attr_knockout"
    /></label>
    <label
      ><span>Death Blow</span>
      <input type="number" value="" name="attr_deathblow"
    /></label>
  </div>
  <h4>Saving Throws</h4>
  <div class="bonus-type-container">
    <label
      ><span>Perception</span>
      <input type="number" value="0" name="attr_perceptioncheck" />
      <button
        type="roll"
        value="Perception Check: [[d20+@{perceptioncheck}]]"
      />
    </label>
    <label
      ><span>Psionics</span>
      <input type="number" value="" name="attr_psionics" />
      <button type="roll" value="Save vs. Psionics: [[d20+@{psionics}]]" />
    </label>
    <label
      ><span>Magic</span>
      <input type="number" value="" name="attr_magic" />
      <button type="roll" value="Save vs. Magic: [[d20+@{magic}]]" />
    </label>
    <label
      ><span>Horror Factor</span>
      <input type="number" value="" name="attr_horrorfactor" />
      <button
        type="roll"
        value="Save vs. Horror Factor: [[d20+@{horrorfactor}]]"
      />
    </label>
    <label
      ><span>Mind Control</span>
      <input type="number" value="" name="attr_mindcontrol" />
      <button
        type="roll"
        value="Save vs. Mind Control: [[d20+@{mindcontrol}]]"
      />
    </label>
    <label
      ><span>Disease</span>
      <input type="number" value="" name="attr_disease" />
      <button type="roll" value="Save vs. Disease: [[d20+@{disease}]]" />
    </label>
    <label
      ><span>Illusions</span>
      <input type="number" value="" name="attr_illusions" />
      <button type="roll" value="Save vs. Illusions: [[d20+@{illusions}]]" />
    </label>
    <label
      ><span>Possession</span>
      <input type="number" value="" name="attr_possession" />
      <button type="roll" value="Save vs. Possession: [[d20+@{possession}]]" />
    </label>
    <label
      ><span>Insanity</span>
      <input type="number" value="" name="attr_insanity" />
      <button type="roll" value="Save vs. Insanity: [[d20+@{insanity}]]" />
    </label>
    <label
      ><span>Pain</span>
      <input type="number" value="" name="attr_pain" />
      <button type="roll" value="Save vs. Pain: [[d20+@{pain}]]" />
    </label>
    <label
      ><span>Lethal Poison</span>
      <input type="number" value="" name="attr_lethalpoison" />
      <button
        type="roll"
        value="Save vs. Lethal Poison: [[d20+@{lethalpoison}]]"
      />
    </label>
    <label
      ><span>Non-Lethal Poison</span>
      <input type="number" value="" name="attr_nonlethalpoison" />
      <button
        type="roll"
        value="Save vs. Non-Lethal Poison: [[d20+@{nonlethalpoison}]]"
      />
    </label>
    <label
      ><span>Drugs</span>
      <input type="number" value="" name="attr_drugs" />
      <button type="roll" value="Save vs. Drugs: [[d20+@{drugs}]]" />
    </label>
    <label
      ><span>Curses</span>
      <input type="number" value="" name="attr_curses" />
      <button type="roll" value="Save vs. Curses: [[d20+@{curses}]]" />
    </label>
    <label
      ><span>Coma/Death</span>
      <input type="number" value="" name="attr_comadeath" />
      <button type="roll" value="Save vs. Coma/Death: [[d100-@{comadeath}]]" />
    </label>
  </div>
  <div class="macro-help">
    <label
      ><span><b>Row ID:</b></span>
      <input type="text" readonly name="attr_rowid" value=""
    /></label>
  </div>
</details>
