<div class="skills">
  <h3>Skills</h3>
  <p>Note that skills include IQ bonus.</p>
  <fieldset class="repeating_skills">
    <div class="values">
      <h5>Skill</h5>
      <h5>Category</h5>
      <h5>Base</h5>
      <h5>Bonus</h5>
      <h5>Per Level</h5>
      <h5>Level</h5>
      <h5>Total</h5>
      <h5></h5>
      <input type="text" value="" name="attr_name" />
      <select name="attr_category" value="occ">
        <option value="occ">O.C.C.</option>
        <option value="related">O.C.C. Related</option>
        <option value="secondary">Secondary</option>
      </select>
      <input type="number" value="0" name="attr_base" />
      <input type="number" value="0" name="attr_bonus" />
      <input type="number" value="0" name="attr_perlevel" />
      <input type="number" value="1" name="attr_level" />
      <input type="number" value="0" name="attr_total" readonly />
      <button
        type="roll"
        value="@{character_name} @{name} check: [[d100<@{total}]]"
      />
    </div>
    <details>
      <summary>
        <b>Describe <span name="attr_name"></span></b>
      </summary>
      <textarea name="attr_description" value=""></textarea>
      <div class="macro-help">
        <label
          ><span><b>Row ID:</b></span>
          <input type="text" readonly name="attr_rowid" value=""
        /></label>
      </div>
    </details>
  </fieldset>
</div>
