@use 'metal-buttons';

/* Resets */

.charsheet {
  details {
    display: revert;
    margin-bottom: 1rem;

    summary {
      display: revert;
      cursor: pointer;

      & > h3 {
        display: inline-block;
      }
    }
  }

  details.info {
    display: block;
    margin-bottom: 0;

    & > summary {
      display: block;
    }
  }

  .full {
    width: 100% !important;
  }

  input,
  textarea,
  select,
  .uneditable-input {
    width: auto;
    margin-bottom: 0;
  }

  .spell-details label span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main#megaverse {
    &:not(.debug) {
      .bonuses {
        [data-groupname="repeating_bonusselections"] {
          button.repcontrol_del,
          button.repcontrol_add {
            display: none !important;
          }
        }
        .bonus-sources,
        .selected-ids,
        [name="attr_bonus_ids"] {
          display: none;
        }
      }
    }

    input[type="number"] {
      width: auto;
    }

    label {
      margin-bottom: 0;
      font-size: 1.3rem;
    }

    .macro-help {
      label {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 7fr !important;
      }
    }

    .modifiers {
      .bonuses-container {
        .repcontainer {
          .repitem {
            // .bonus-ps-container,
            .profile-management {
              display: none !important;
            }
          }
        }
      }
    }

    // .bonuses {
    //   &:not(.debug) {
    //     // WHY ISN'T THIS WORKING with :not(.debug)???
    //     [data-groupname="repeating_bonusselections"] {
    //       button.repcontrol_del,
    //       button.repcontrol_add {
    //         display: none !important;
    //       }
    //     }
    //     .bonus-sources,
    //     [name="attr_bonus_ids_output"] {
    //       display: none;
    //     }
    //   }
    // }

    .bonuses-container {
      .repcontainer {
        .repitem {
          .bonus-ps-container {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            label {
              align-items: center;
              gap: 0.5rem;
              grid-template-columns: 1fr min-content 6rem;

              &.select {
                select {
                  grid-column: 2 / 3;
                }
              }
            }
          }
        }
      }

      .profiles {
        .repcontainer[data-groupname="repeating_profiles"] {
          .repitem {
            .bonus-type-container {
              &.attributes {
                > label {
                  display: grid;
                  gap: 0.5rem;
                  grid-template-columns: 4rem 4rem 4rem 4rem;

                  input[type="number"],
                  input[type="text"] {
                    width: auto;
                  }
                }
              }
              label.abs {
                display: none;
              }
            }
            .profile-management {
              margin: 0.5rem 0;

              .bonus-names {
                font-weight: bold;
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }

      .repcontainer[data-groupname="repeating_profiles"],
      .repcontainer[data-groupname="repeating_modifiers"],
      .repcontainer[data-groupname="repeating_bonuses"] {
        .repitem {
          .bonus-type-container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            &.attributes {
              > label {
                display: grid;
                gap: 0.2rem;
                grid-template-columns: 1fr 4rem 3rem 4rem 4rem;

                input[type="number"],
                input[type="text"] {
                  width: auto;
                }
              }
              // label.abs {
              //   // display: none;
              //   // grid-template-columns: min-content min-content;
              // }
            }
          }

          label {
            display: grid;
            grid-template-columns: 1fr min-content 4rem;
            width: 100%;

            span {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }

          label.select {
            grid-template-columns: max-content 1fr 4rem;
            align-items: center;
          }

          label.description {
            display: block;
          }

          .bonus-thing-heading {
            display: grid;
            gap: 1rem;
            grid-template-columns: 2.5rem 1fr min-content;

            label {
              display: grid;
              gap: 0.5rem;
              grid-template-columns: max-content 1fr;

              input[name="attr_name"] {
                width: auto;
              }
            }
          }

          label.abs {
            align-items: center;
            input[type="checkbox"] {
              width: 1rem;
              margin: 0 0.2rem 0 0;
            }
          }

          .profile-management {
            display: block;
          }
        }
      }
    }
  }
}

/* End Resets */

// .charsheet
//   .bonuses
//   .repcontainer[data-groupname="repeating_bonusselections"]
//   button.repcontrol_del,
// .charsheet
//   .bonuses
//   .repcontrol[data-groupname="repeating_bonusselections"]
//   button.repcontrol_add {
//   display: none !important;
// }

/* Tabs */
/* Configure the tab buttons */
.core,
.wp,
.equipment,
.skills,
.magic,
.psionics,
.importexport,
.bonuses,
.abilities,
.modifiers {
  display: none;
}

/* show the selected tab */
.tabstoggle[value="core"] ~ div.core,
.tabstoggle[value="wp"] ~ div.wp,
.tabstoggle[value="equipment"] ~ div.equipment,
.tabstoggle[value="skills"] ~ div.skills,
.tabstoggle[value="magic"] ~ div.magic,
.tabstoggle[value="psionics"] ~ div.psionics,
.tabstoggle[value="importexport"] ~ div.importexport,
.tabstoggle[value="bonuses"] ~ div.bonuses,
.tabstoggle[value="abilities"] ~ div.abilities,
.tabstoggle[value="combat"] ~ div.modifiers {
  display: block;
}

img.logo {
  max-height: 30px;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 1fr 1fr;
}

/* .section-one {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 1fr;
} */

.section-one label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0.5rem 0;
}

.section-one label span,
.section-three label span {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.ss-2a {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 5rem 5rem 5rem;
}

.ss-2b {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: max-content 5rem max-content;
  gap: 0.5rem;
}

.ss-2c {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem max-content;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.section-three label {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr max-content max-content;
  /* grid-template-rows: repeat(7, max-content); */
}

.charsheet main#megaverse .section-three input[type="number"] {
  width: 8rem;
}

.movement-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content 8rem 8rem 8rem 8rem max-content;
}

.repeating-movement .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 8rem 8rem 8rem 8rem max-content;
}

.charsheet
  .abilities
  .repcontainer[data-groupname="repeating_abilities"]
  .repitem
  .abilities-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr 5rem 8rem 10rem 8rem 4rem 8rem 4rem 4rem;
}

.charsheet
  .skills
  .repcontainer[data-groupname="repeating_skills"]
  .repitem
  .values {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2.5rem 1fr min-content 4rem 4rem 4rem 4rem 4rem 4rem;
}

.charsheet .skills .repcontainer[data-groupname="repeating_skills"] .repitem h5,
.charsheet .magic .repcontainer[data-groupname="repeating_magic"] .repitem h5 {
  display: flex;
  align-items: flex-end;
}

.charsheet
  .skills
  .repcontainer[data-groupname="repeating_skills"]
  .repitem
  details
  textarea {
  width: 100%;
}

.charsheet .wp-container .repcontainer[data-groupname="repeating_wp"] .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 5rem 5rem 5rem 5rem 5rem 5rem 5rem 24rem;
}

.charsheet
  .wp-container
  .repcontainer[data-groupname="repeating_wpmodern"]
  .repitem {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 5rem 5rem 5rem 29rem;
}

.charsheet .repeating-movement .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .magic .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .skills .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .abilities .repcontainer .repitem:not(:first-of-type) h5,
.charsheet .wp-container .repcontainer .repitem:not(:first-of-type) h5 {
  display: none;
}

.charsheet .wp-container h3:last-of-type {
  margin-top: 2rem;
}

/* .charsheet .bonuses-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content max-content;
} */

.charsheet
  .bonuses-container
  .repcontainer[data-groupname="repeating_bonusselections"] {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.charsheet
  .bonuses-container
  .repcontainer[data-groupname="repeating_bonusselections"]
  label
  span {
  cursor: pointer;
}

.click-expand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.charsheet main#megaverse .bonuses-container details div:not(.macro-help) input,
.charsheet main#megaverse .bonuses-container input[type="number"] {
  width: 5rem;
}

/* @todo uncomment me to hide checkbox add/remove buttons */
/* .charsheet
  .bonuses
  .repcontainer[data-groupname="repeating_bonusselections"]
  button.repcontrol_del,
.charsheet
  .bonuses
  .repcontrol[data-groupname="repeating_bonusselections"]
  button.repcontrol_add {
  display: none !important;
} */

// .charsheet .repcontainer .repitem .macro-help label,
// .charsheet
//   .magic
//   .repcontainer[data-groupname="repeating_magic"]
//   .repitem
//   .macro-help
//   label,
// .charsheet
//   .psionics
//   .repcontainer[data-groupname="repeating_psionics"]
//   .repitem
//   .macro-help
//   label,
// .charsheet
//   .bonuses-container
//   .repcontainer[data-groupname="repeating_modifiers"]
//   .repitem
//   .macro-help
//   label,
// .charsheet
//   .bonuses-container
//   .repcontainer[data-groupname="repeating_bonuses"]
//   .repitem
//   .macro-help
//   label {
//   display: grid;
//   gap: 0.5rem;
//   grid-template-columns: 1fr 7fr;
// }

.charsheet
  .magic
  .repcontainer[data-groupname="repeating_magic"]
  .repitem
  .spells-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 4rem 5rem 8rem 8rem 4rem 8rem 4rem 4rem 5rem 4rem;
}

.charsheet
  .magic
  .repcontainer[data-groupname="repeating_magic"]
  .repitem
  .spell-details {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.spell-details label {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 100%;
}

.charsheet .spells-list input[name="attr_school"] {
  max-width: 10rem;
}

.charsheet
  .psionics
  .repcontainer[data-groupname="repeating_psionics"]
  .repitem
  .psionics-list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 5rem 8rem 8rem 4rem 8rem 4rem 4rem 5rem 4rem;
}

.charsheet
  .abilities
  .repcontainer[data-groupname="repeating_abilities"]
  .repitem
  .ability-details,
.charsheet
  .psionics
  .repcontainer[data-groupname="repeating_psionics"]
  .repitem
  .psionic-details {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.ability-details label,
.psionic-details label {
  display: grid;
  grid-template-columns: 1fr 12rem;
  width: 100%;
}

.charsheet .tall {
  height: 300px;
}

/*****************/
/* Metal Buttons */
/*****************/

.dialog.characterviewer {
  background-color: hsla(0, 0%, 90%, 1);
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.05)
  );
  background-size: 5px;
}

/* globals */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);

html {
  font: 62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana,
    Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 90%, 1);
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.05)
  );
  background-size: 5px;
}

button {
  border: none;
  /* display: block; */
}
a {
  text-decoration: none;
  display: block;
}
